@{
    ViewBag.Title = "Home Page";
}


<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" hidden></li>
            <li data-target="#carouselExampleIndicators" data-bs-slide-to="1" hidden></li>
            <li data-target="#carouselExampleIndicators" data-bs-slide-to="2" hidden></li>
        </ol>
        <div class="carousel-inner" role="listbox">

            <!-- Slide One - Set the background image for this slide in the line below-->

            <div class="carousel-item active">
                <img class="d-block img-fluid" src="~/Images/carrusel_1.jpg" />
                <div class="carousel-caption d-none d-md-block">
                    <h3>Diamonds Are Forever</h3>
                    <p></p>
                </div>
            </div>

            <!-- Slide Two - Set the background image for this slide in the line below-->

            <div class="carousel-item">
                <img class="d-block img-fluid" src="~/Images/carrusel_5.jpg" />
                <div class="carousel-caption d-none d-md-block">
                    <h3>Something Blue</h3>
                    <p></p>
                </div>
            </div>

            <!-- Slide Three - Set the background image for this slide in the line below-->

            <div class="carousel-item">
                <img class="d-block img-fluid" src="~/Images/carrusel_3.jpg" />
                <div class="carousel-caption d-none d-md-block">
                    <h3>Wedding Rings</h3>
                    <p></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</header>

<div class="container">
    <h1 class="p-4">Welcome to Jewellery Store</h1>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item img-fluid">
            <img class="d-block img-fluid" src="~/Images/earrings.jpg" />
            <a class="btn btn-lg btn-secondary w-100" href="@Url.Action("Earrings", "shop")">SHOP Earings</a>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img class="d-block img-fluid" src="~/Images/bracelets.jpg" />
            <a class="btn btn-lg btn-secondary w-100" href="@Url.Action("Bracelets", "shop")">SHOP Bracelets</a>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img class="d-block img-fluid" src="~/Images/neckless_1.jpg" />
            <a class="btn btn-lg btn-secondary w-100" href="@Url.Action("Necklesses", "shop")">SHOP Necklesses</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img class="d-block img-fluid" src="~/Images/carrusel_1.jpg" />
            <a class="btn btn-lg btn-secondary w-100" href="@Url.Action("Rings", "shop")">SHOP Rings</a>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img class="d-block img-fluid" src="~/Images/rings_pearls.jpg" />
            <a class="btn btn-lg btn-secondary w-100" href="@Url.Action("Bespoke", "shop")">Bespoke</a>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <img class="d-block img-fluid" src="~/Images/carrusel_3.jpg"/>
            <a class="btn btn-lg btn-secondary w-100" href="@Url.Action("Repairs", "shop")">Repairs</a>
        </div>
    </div>
    <hr />
</div>