@model IEnumerable<K_Burns_JewelleryStore.Models.Product>
@{
    ViewBag.Title = "Products";
}

<div class="row">

    <div class="col-lg-3">

        <h2 class="my-4">Shop by Category</h2>
        <div class="list-group">

            @foreach (var item in ViewBag.Categories)
            {
                <a href="@Url.Action("Products", "Shop", new { id = item.CategoryId })" class="list-group-item">@item.Name</a>
            }
        </div>

    </div>

    <div class="col-lg-9">

        <div class="row">

            @if (Model.Count() == 0)
            {
                <div class="card-body">
                    <h5 class="card-title">
                        No products to display; please select another category!
                    </h5>
                </div>
            }
            else
            {
                foreach(var item in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="card">

                            <a href="@Url.Action("Product", "Shop", new { id = item.ProductID })">
                                <img class="card-body img-fluid" src="@item.ImageUrl" alt="Product Image Displayed"/>
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">

                                    <a href="@Url.Action("Product", "Shop", new { id = item.ProductID })">@item.ProductName</a>
                                </h4>
                                <h5>£@item.UnitPrice</h5>
                                <p class="card-text">@item.Category.Name</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">
                                    @if (item.OnSale == true)
                                    {
                                        <mark>ON SALE</mark>
                                    }
                                    else if (item.UnitsInStock < 1)
                                    {
                                        <mark>OUT OF STOCK</mark>
                                    }
                                    else
                                    {
                                        <mark>AVAILABLE</mark>
                                    }
                                </small>
                            </div>
                        </div>
                    </div>
                    
                }
            }
        </div>
    </div>
</div>

